streamlit==1.29.0
pandas==2.0.3
numpy==1.23.5
efinance==0.5.0
openai==1.3.0
scikit-learn==1.3.1
streamlit-echarts==0.4.0

streamlit-echarts==0.4.0
plotly==5.15.0

# ydata-profiling==4.5.1
streamlit-pandas-profiling==0.1.3

matplotlib==3.5.3

tensorflow==2.13.0
keras==2.13.1


